<div class="bg-success">
    <div class="container p-4">
        <footer class="blog-footer lh-1 py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <a class="text-white" href="#">Back to top</a>
            </div>
        </footer>
    </div>
</div>