<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', { title: 'Add new post' }) %>
        <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
    <%- include('includes/header') %>
        <main>
            <h1>Success Creating Post</h1>

        </main>
</body>

</html>